{% extends 'base.html' %}

{% block title %}
Filtro da Lista
{% endblock %}


{% block content %}
<div class="container mt-3">
  <h2>Lista de Logs</h2>
  <form method="post" action="{% url 'listar' %}" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nome do RPA: </label>
      <div class="col-sm-5">
        <select name="nome_rpa" id="nome_rpa" class="form-control">
          <option value="todos">Todos</option>
          {% for item in nome_rpa %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nome do PC: </label>
      <div class="col-sm-5">
        <select name="nome_pc" id="nome_pc" class="form-control">
          <option value="todos">Todos</option>
          {% for item in nome_pc %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Nome do Agente: </label>
      <div class="col-sm-5">
        <select name="nome_agente" id="nome_agente" class="form-control">
          <option value="todos">Todos</option>
          {% for item in nome_agente %}
          <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Status: </label>
      <div class="col-sm-5">
        <select name="status" id="status" class="form-control">
          <option value="todos">Todos</option>
          {% for item in status %}
          <option value="{{ item }}">
          {% if item == 0 %} 
          Concluido
          {% elif item == 1 %}
          Error
          {% elif item == 2 %}
          Report
          {% elif item == 99 %}
          Teste
          {% else %}
          {{ item }}
          {% endif %} 
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Horario: </label>
      <div class="col-sm-2">
        <input type="date" value="" id="horario" name="horario" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email"></label>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-success btn-block" id="enviar" value="Enviar" >Pesquisar</button>
      </div>
    </div>

    
  </form>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email"></label>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-default" id="enviar" value="Enviar" onclick="limpar()">Limpar Filtros</button>
    </div>
  </div>

</div>

<script>
  function limpar() {
    document.getElementById('nome_rpa').value = 'todos';
    document.getElementById('nome_pc').value = 'todos';
    document.getElementById('nome_agente').value = 'todos';
    document.getElementById('status').value = 'todos';
    document.getElementById('horario').value = '';
  }
</script>
{% endblock %}