{% extends 'base.html' %}

{% block title %}
Lista de Registro
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <a href="{% url 'filtro' %}" class="bt_voltar">Voltar</a><br>
    <h2>Lista de Logs</h2>
    <p>Listando todos os registro de rpas encontrados</p>
    <table class="table">
      <thead class="table-success">
        <tr>
          <th>id</th>
          <th>nome_rpa</th>
          <th>nome_pc</th>
          <th>nome_agente</th>
          <th>status</th>
          <th>horario</th>
          <th>descricao</th>
          <th>exception</th>
        </tr>
      </thead>
      <tbody>
        {% for item in lista %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.nome_rpa}}</td>
          <td>{{item.nome_pc}}</td>
          <td>{{item.nome_agente}}</td>
          <td>{{item.status}}</td>
          <td>{{item.horario}}</td>
          <td>{{item.descricao}}</td>
          <td>{{item.exception}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% endblock %}