{% extends 'base.html' %}

{% block title %}
Insumos Obras
{% endblock %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'css/insumosObras.css' %}>
<div class="container p-3 my-3 bg-dark text-white">
    {% if request.user.is_superuser %}
        <div class="adminConfig">
            <p>--------------------Administração--------------------</p>
            <form action="{% url 'insumosObras_alterPath' %}" method="POST" onsubmit="return confirm('Deseja continuar?')">
                {% csrf_token %}
                <input type="text" name="path" id="path" value="{{ targetPath }}">
                <button class="btn btn-danger" >Alterar</button>
            </form>
            <p>----------------------------------------------------------</p>
        </div>
    {% endif %}
    <div class="atualizar">
        <h2>Área de Automação para Insumos de Obras</h2>
        <p>Clique para atualizar a Planilha Base</p>

        <div id="bt_atualizar" style="width:100%;display:flex;justify-content: center"></div>
        {% comment %} <button  class="btn btn-success" onclick="atualizar()" >Atualizar</button> {% endcomment %}

        <h3><a target="_blank" href="https://patrimar.sharepoint.com/:x:/r/sites/RPA/_layouts/15/Doc.aspx?sourcedoc=%7B5F90D402-3571-4651-8085-BEC5337ED232%7D&file=Materiais%20Aplicados%20-%20Convers%C3%A3o.xlsx&action=default&mobileredirect=true"><strong>Planina de Conversão</strong></a></h3>
        <h3><a target="_blank" href="https://patrimar.sharepoint.com/:x:/r/sites/RPA/_layouts/15/Doc.aspx?sourcedoc=%7B95F3D387-8734-471A-8B21-0D7A9505418F%7D&file=Relatorio_Final.xlsx&action=default&mobileredirect=true"><strong>Planina Final</strong></a></h3>
        <h2>Adicione os arquivos que serão tratados para a planilha Base</h2>
    </div>

    <div class="areaCentral">
        {% comment %} box1 {% endcomment %}
        <div class="box">
            <h3>Patrimar</h3>
            <form action="{% url 'insumosObras_create' folder='patrimar' %}" method="POST" onsubmit="return enviar()"
                enctype="multipart/form-data" id="formulario_pat">
                {% csrf_token %}
                <input type="file" name="files" id="file_patrimar[]" class="form-control" multiple>
                <button class="btn btn-success" style="background-color: rgb(38 107 255);">Adicionar</button>
            </form>
            <br>
            <div class="content" id="conteudo_patrimar">
                <table class="table" id="table_patrimar">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody id="lista_patrimar">
                    </tbody>
                </table>
            </div>
            <form action="{% url 'insumosObras_delete' %}" method="POST" onsubmit="return confirm('Deseja continuar?')"  id="del_form_patrimar">
                {% csrf_token %}
                <input type="hidden" name="del_patrimar" id="del_patrimar">
                <button class="btn btn-danger" onclick="apagar_listados('patrimar')"
                    id="bt_delete_patrimar">Deletar</button>
            </form>
        </div>

        {% comment %} box 2 {% endcomment %}
        <div class="box">
            <h3>Novolar</h3>
            <form action="{% url 'insumosObras_create' folder='novolar' %}" method="POST"
                onsubmit="return confirm('Deseja continuar?')" enctype="multipart/form-data" id="formulario_nov">
                {% csrf_token %}
                <input type="file" name="files" id="file_novolar[]" class="form-control" multiple>
                <div> </div>
                <button class="btn btn-success" onclick="addcampo(1)"
                    style="background-color: rgb(38 107 255);">Adicionar</button>
            </form>
            <br>
            <div id="conteudo_novolar">
                <div class="content">
                    <table class="table" id="table_novolar">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody id="lista_novolar">
                        </tbody>
                    </table>
                </div>
                <form action="{% url 'insumosObras_delete' %}" method="POST"
                    onsubmit="return confirm('Deseja continuar?')" id="del_form_novolar">
                    {% csrf_token %}
                    <input type="hidden" name="del_novolar" id="del_novolar">
                    <button class="btn btn-danger" onclick="apagar_listados('novolar')"
                        id="bt_delete_novolar">Deletar</button>
                </form>
            </div>
        </div>
    </div>

</div>
<script>
    function enviar() {
        var files = document.getElementById('file_patrimar[]').files
        if (files.length == 0) {
            alert("Selecione um arquivo");
            return false
        } else {
            return confirm('Deseja continuar?');
        }
    };
    function montarTabela(nomeTabela, files) {
        document.getElementById('lista_' + nomeTabela).innerHTML = ''
        var count = 0;
        for (var file in files) {
            document.getElementById('lista_' + nomeTabela).innerHTML += `
            <tr>
                <td>
                    <input type="checkbox" id="linha_${nomeTabela}_${count}" value="${files[file]}">
                </td>
                <td>
                    ${file}
                </td>
            </tr>`;
            count += 1;
        }
        if (count == 0) {
            document.getElementById("bt_delete_" + nomeTabela).style.display = "none"
            document.getElementById("conteudo_" + nomeTabela).style.display = "none"
        }
    }
    function apagar_listados(nomeTabela) {
        var count = 0;
        var result = []
        while (true) {
            var file = document.getElementById('linha_' + nomeTabela + '_' + count);
            if (file == null) {
                break;
            }
            if (file.checked) {
                result.push(file.value)
            }

            count += 1;

        }
        document.getElementById('del_' + nomeTabela).value = result
    }

    async function atualizar(){
        await fetch("{% url 'insumosObras_start' %}")
    }

    async function status(){
        var response = await fetch("{% url 'insumosObras_status' %}")
        var data = await response.json()

        var classe = ''
        var onclick = 's'
        var text = ''
        var bt_status = ''

        if (data.status == "Pronto"){
            classe = 'btn btn-success'
            onclick = 'atualizar()'
            text = 'Atualizar'
            document.getElementById('formulario_pat').style.display = 'flex'
            document.getElementById('formulario_nov').style.display = 'flex'
            document.getElementById('del_form_novolar').style.display = 'flex'
            document.getElementById('del_form_patrimar').style.display = 'flex'
        }else {
            classe = 'btn btn-danger'
            text = 'Executando'
            bt_status = 'disabled'
            if (data.status == null){
                text = 'Desativado'
                bt_status = 'style="background:black;" disabled'
            }
            document.getElementById('formulario_pat').style.display = 'none'
            document.getElementById('formulario_nov').style.display = 'none'
            document.getElementById('del_form_novolar').style.display = 'none'
            document.getElementById('del_form_patrimar').style.display = 'none'
        }

        document.getElementById('bt_atualizar').innerHTML = `<button  class='${classe}' onclick='${onclick}' ${bt_status}>${text}</button>`
    }

    montarTabela("patrimar", {{ patrimarFiles| safe }})
    montarTabela("novolar", {{ novolarFiles| safe }})

    status()
    setInterval(status, 1000)

</script>

{% endblock %}