<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>{% block title %}Patrimar RPA{% endblock %}</title>
      </head>
      
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="{% url "home_index" %}">Patrimar RPA</a>
                </div>
            <ul class="nav navbar-nav">

                <li {% if request.path == '/' %}class="active"{% endif %} >
                    <a href="{% url "home_index" %}">Home</a></li>

                {% if 'rpa_logs.log.user' in request.user.get_all_permissions %}<li {% if request.path == '/rpa_logs/' %}class="active"{% endif %} >
                    <a href="{% url "filtro" %}">RPA_logs</a></li>{% endif %}

                {% if 'tasks.tasks' in request.user.get_all_permissions %}<li {% if request.path == '/tasks/' %}class="active"{% endif %} >
                    <a href="{% url "tasks_index" %}">Tarefas</a></li>{% endif %}

                {% if 'tasks.pagamentos_diarios' in request.user.get_all_permissions %}<li {% if request.path == '/tasks/pagamento_diario/' %}class="active"{% endif %} >
                    <a href="{% url "pagamento_diario" %}">Pagamentos Diarios</a></li>{% endif %}

                {% if 'admin.visu' in request.user.get_all_permissions %}<li {% if request.path == '/visu/' %}class="active"{% endif %} >
                    <a href="{% url "visu" %}">Vizualizar Tela</a></li>{% endif %} 

                {% if 'tasks.processComi' in request.user.get_all_permissions %}<li {% if request.path == '/processComi/' %}class="active"{% endif %} >
                    <a href="{% url "processComi_index" %}">Processo de Comissão</a></li>{% endif %} 

                {% if 'tasks.baseEstoque' in request.user.get_all_permissions %}<li {% if request.path == '/baseEstoque/' %}class="active"{% endif %} >
                    <a href="{% url "baseEstoque_index" %}">Base Estoque</a></li>{% endif %} 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="bt_logout"><a href="{% url 'logout' %}">logout</a></li>
              </ul>            
              
        </nav>
    </header>
    <div class="content">
        {% block content %}
        <div class="container">
            <h2>Olá {{request.user.first_name}} {{request.user.last_name}}</h2>
            <p>Bem-vindo(a) à Central de RPA, desenvolvida pelo Renan Oliveira para agilizar e facilitar a execução de tarefas pelos usuários.</p>

            <button class="btn btn-warning" onclick="window.location.href='{% url "alterar_senha" %}';">Alterar Senha</button><br><br>
            {% if request.user.is_superuser %}
            <button class="btn btn-danger" onclick="window.location.href='admin/';">Administrador</button><br><br>
            <button class="btn btn-success" onclick="window.location.href='{% url 'create_user' %}';">Criar Usuario</button><br><br>
            {% endif %}
        </div>
        {% endblock %}
    </div>

    <footer>
        
    </footer>
</body>
</html>
