{% extends 'base.html' %}

{% block title %}
tasks
{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'css/consolidarDadosMultiplasPlanilhas.css' %}>

<div class="container">
    <div class="box">
        {% if request.user.is_superuser %}
            <p>----------------------Admin----------------------</p>
            <p>caminho da pasta do RPA</p>
            <form action="{% url 'setUploadPath_consolidarDadosMultiplasPlanilhas' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="path" class="form-control" value="{{ upload_path }}">
                <input type="submit" value="Alterar" class="btn btn-primary">
            </form><br>
            <p>caminho da automação</p>
            <form action="{% url 'setNameAutomation_consolidarDadosMultiplasPlanilhas' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="name" class="form-control" value="{{ name_automation }}">
                <input type="submit" value="Alterar" class="btn btn-primary">
            </form>
            <br>
            <a href="{% url 'testarAutomacao_consolidarDadosMultiplasPlanilhas' %}">Testar Automação</a>
            <p>-----------------------------------------------------</p>
        {% endif %}

        <h2>Consolidar Dados Multiplas Planilhas</h2>
        <p>Este serviço automatiza a consolidação de dados de múltiplas planilhas, garantindo precisão e eficiência na análise de informações.</p>

        <form action="{% url 'upLoad_consolidarDadosMultiplasPlanilhas' %}" method="POST" enctype="multipart/form-data" id="form_files">
            {% csrf_token %}
            <input type="file" name="files" id="file_novolar[]" class="form-control" multiple>
            <input type="submit" value="Enviar" class="btn btn-primary">

        </form>
        <br>
        <p>Arquivo:</p>
        <p id="arquivo"></p>

        <br>
        <p>Logs:</p>
        <p id="logs"></p>
        {% comment %} {% for infor in informativo %}
            {{ infor }}<br>
        {% endfor %} {% endcomment %}
    </div>
</div>

<script>
    async function updateLogs() {
        let response = await fetch("{% url 'informativo_consolidarDadosMultiplasPlanilhas' %}")
        if (response.ok){
            dados = await response.json()
            if (dados.length > 0){
                document.getElementById("logs").innerHTML = dados.join("<br>")
            }
        }
        
    }

    async function file_to_download(){
        let response = await fetch("{% url 'fileDownloadPath_consolidarDadosMultiplasPlanilhas' %}")
        files = await response.json()
        document.getElementById("arquivo").innerHTML = ""
        if (files.length > 0){
            for (file in files){
                document.getElementById("arquivo").innerHTML += `<a href="{% url 'download_consolidarDadosMultiplasPlanilhas' %}?path=${files[file].path}">${files[file].name}</a>, data: ${files[file].data}<br>`
            }
            
        }
    }

    async function status(){
        var response = await fetch("{% url 'status' %}");
        if (response.ok){
            var dados = await response.json();
            {% comment %} console.log("{{ name_automation|escapejs }}"); {% endcomment %}
            
            if (dados["{{ name_automation }}"].status == "Pronto"){
                document.getElementById("form_files").style.display = "";
            }else{
                document.getElementById("form_files").style.display = "none";
            }
        }
    }
    
    
    function execute_all(){
        file_to_download();
        updateLogs();    
        status();
    }

    execute_all();
    setInterval(execute_all, 1000);
    
    
</script>

{% endblock %}