{% extends 'base.html' %}

{% block title %}
    Cadastro Vtax
{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href={% static 'css/cadrastroVtax.css' %}>

<div class="conteudo">
    {% if request.user.is_superuser %}
    <div class="adm">
        <h3>Admin</h3>
        <form action="{% url 'adminConfig_cadastrarVtax' %}" method="POST" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <input type="text" name="nome_tarefa_cadastroVtax" value="{{ nome_tarefa_cadastroVtax }}" placeholder="Nome da Tarefa">
            <input type="text" name="caminho_tarefa_cadastroVtax" value="{{ caminho_tarefa_cadastroVtax }}" placeholder="Caminho da Tarefa">
            <input type="submit" value="Atualizar">
        </form>
    </div>
    {% endif %}

    <div class="titulo">
        <h1>Cadastro Vtax</h1>
    </div>

    <div class="formulario">
        <div class="add">
            <input type="text" name="add_empresa" id="add_empresa" placeholder="Empresa">
            <button class="btn btn-primary" id="addBtn" onclick="add_empresa()">Adicionar</button>
        </div>
        <div class="campo_exibir_add" id="campo_exibir_add">
            <!-- aqui sera preenchido por uma função no javascript -->
        </div>
        <div class="start">
            <!-- <button class="btn btn-success" id="startBtn" onclick="start()">Iniciar</button> -->
            <form action="{% url 'start_cadastrarVtax' %}" method="POST" onsubmit="return enviar()">
                {% csrf_token %}
                <input type="hidden" name="empresas" id="empresas" value="">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cadastro_grupos_empresas_reinf", name="cadastro_grupos_empresas_reinf" checked>
                    <label class="form-check-label" for="meuCheckbox">
                        Cadastro Grupos Empresas reinf
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="cadastro_representantes", name="cadastro_representantes" checked>
                    <label class="form-check-label" for="meuCheckbox">
                        Cadastro Representantes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="cadastro_codigos_impostos", name="cadastro_codigos_impostos" checked>
                    <label class="form-check-label" for="meuCheckbox">
                        Cadastro Codigos Impostos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"  id="cadastro_codigo_servicos", name="cadastro_codigo_servicos" checked>
                    <label class="form-check-label" for="meuCheckbox">
                        Cadastro Codigo Servicos
                    </label>
                </div>
                
                <button class="btn btn-success" id="startBtn" onclick="start()">Iniciar</button>
                
            </form>
        </div>
    </div>

    <div class="logs">
        Logs
    </div>



<button class="btn btn-warning" onclick="enviar()">Teste</button>
<script src={% static 'js/cadrastroVtax.js' %}></script>
<script>
all_empresas = new Empresas();

all_empresas.add_empresa('N041');
all_empresas.add_empresa('N042');

function show_empresas(){
    empresas_views = "";
    
    for (const [key, value] of Object.entries(all_empresas.get_empresas())) {
        empresas_views += `<div class="empresa">${value}<span class="cancel_empresa" onclick="remover_empresa(${key})">x</span></div>`;
    }
    document.getElementById('campo_exibir_add').innerHTML = "";
    document.getElementById('campo_exibir_add').innerHTML += empresas_views;
}

function add_empresa(){
    let empresa = document.getElementById('add_empresa').value;
    if(empresa != ''){
        all_empresas.add_empresa(empresa.toUpperCase())
    }
    show_empresas();
};

function remover_empresa(id){
    all_empresas.remover_empresa_per_id(id);
    show_empresas();
}

function start(){
    let empresas_to_send = [];
    for (const [key, value] of Object.entries(all_empresas.get_empresas())) {
        empresas_to_send.push(value);
    }
    window.location.href = "{% url 'start_cadastrarVtax' %}?empresas=" + empresas_to_send;
    
}

function enviar(){
    let empresas_to_send = [];
    for (const [key, value] of Object.entries(all_empresas.get_empresas())) {
        empresas_to_send.push(value);
    }

    document.getElementById('empresas').value = empresas_to_send;
    return confirm("Deseja realmente iniciar o cadastro das empresas?");
}

show_empresas();


</script>



</div>

{% endblock %}
