{% extends 'base.html' %}

{% block title %}
tasks
{% endblock %}

{% block content %}
<!-- <meta http-equiv="refresh" content=".1"> -->

<div class="container">
  <h2>Pagamentos Diarios</h2>
  <p>Você pode iniciar as tarefas com um simples clique.</p>
  <div id="formulario_start" style="display: None;">
    <form action="{% url "pagamentos_diarios_iniciar" %}" method="POST" class="form-horizontal" onsubmit="return confirmarEnvio()">


      {% csrf_token %}
      <input type='hidden' name='path' id='path' value='{{django_argv_path}}'>
      <input type='hidden' name='path_informativo' id='path_informativo' value='{{informativo_pgmt_diario_path}}'>

      <div class="form-group">
        <label class="control-label col-sm-3">Data da execução dos pagamentos</label>
        <div class="col-sm-3">
          <input type="date" id="data" name="data" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Boletos: </label>
        <div class="col-sm-2">
          <input type="checkbox" id="boleto" name="boleto" class="form-control" style="width:15%; height:20px " checked>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Consumo: </label>
        <div class="col-sm-2">
          <input type="checkbox" id="consumo" name="consumo" class="form-control" style="width:15%; height:20px "
            checked>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Imposto: </label>
        <div class="col-sm-2">
          <input type="checkbox" id="imposto" name="imposto" class="form-control" style="width:15%; height:20px "
            checked>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Darfs: </label>
        <div class="col-sm-2">
          <input type="checkbox" id="darfs" name="darfs" class="form-control" style="width:15%; height:20px " checked>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Relacionais: </label>
        <div class="col-sm-2">
          <input type="checkbox" id="relacionais" name="relacionais" class="form-control"
            style="width:15%; height:20px " checked>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Empresas: </label>
        <div class="col-sm-2">
          <textarea id="empresas"class="form-control" rows="1" style="width: 200%; height: 75px;" placeholder="Caso esse campo seja preenchido será executado apenas com as empresas separadas por ;"></textarea>
        </div>
      </div>

      <input type="hidden" id="enviar_empresas" name="empresas" value="">
      
      <div class="form-group">
        <label class="control-label col-sm-1"></label>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-success btn-block" id="iniciar" value="iniciar">Iniciar</button>
        </div>
      </div>


    </form>
  </div>


  <div class="form-horizontal" >
    
    <div id="formulario_start" class="form-group">
    <label class="control-label col-sm-2">Status: </label>
    <div class="col-sm-2">
      <label class="control-label col-sm-2" id="status"></label>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3">Ultima Pessoa a Executar</label>
    <div class="col-sm-3">
      <label class="control-label col-sm-3">{{ultimo_executor.nome}}</label>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3">Data da Ultima Execução</label>
    <div class="col-sm-3">
      <label class="control-label col-sm-15">{{ultimo_executor.data}}</label>
    </div>
  </div>

  </div>


  <br>

  <br>
  <table class="table">
    <thead class="table-success">
      <tr>
        <th>Mensagem</th>
      </tr>
    </thead>
    <tbody id="textos">
      
        <!-- {% for text in informativo_pgmt_diario_texts %}
        <tr></tr>
        <td>{{text}}</td>
      </tr>
        {% endfor %} -->
      
    </tbody>
  </table>

    <script>
      function confirmarEnvio() {
        var textarea = document.getElementById('empresas').value;
        
        if (textarea == "") {
          return confirm('Você realmente quer prosseguir?');
        }else{
          var empresas = textarea.split(';');
          var lista_empresas = JSON.stringify(empresas);
          
          document.getElementById('enviar_empresas').value = lista_empresas;

          return confirm(`Você realmente quer prosseguir com as empresas: ${lista_empresas}`);
        }

      }   
      
      
      document.addEventListener('DOMContentLoaded', (event) => {
        var dataAtual = new Date().toISOString().substring(0, 10);
        document.getElementById('data').value = dataAtual;
      });

      async function verificar() {

        var response = await fetch("{% url 'status' %}");

        if (!response.ok) {
          resultado = `${response.status} - ${response.statusText}`
        } else {
          try {
            resultado = await response.json()
            resultado = resultado
          } catch (error) {
            resultado = `Erro: ${error}`
          }
        }

        status_return = resultado['{{tarefa.nome_para_key}}']['status']

        status_element = document.getElementById('status');
        status_element.innerHTML = status_return

        if (status_return != "Pronto") {
          document.getElementById("formulario_start").style = "display:none"
        }else{
          document.getElementById("formulario_start").style = ""
        }

        
        
        response_text = await fetch("{% url 'retorno_informativo' path=informativo_pgmt_diario_path %}");

        if (!response_text.ok) {
          resultado_text = `${response_text.status} - ${response_text.statusText}`
        } else {
          try {
            resultado_text = await response_text.json()
            resultado_text = resultado_text
          } catch (error) {
            resultado_text = `Erro: ${error}`
          }
        }

        document.getElementById('textos').innerHTML = ""
        resultado_text.reverse();
        resultado_text.forEach(item => {
          var color = item
          if (item.includes('<django:red>')) {
            document.getElementById('textos').innerHTML += `<tr><td> <font color="red">${item}</font> </td></tr>`
          }else if (item.includes('<django:yellow>')) {
            document.getElementById('textos').innerHTML += `<tr><td> <font color="yellow">${item}</font> </td></tr>`
          }else if (item.includes('<django:green>')) {
            document.getElementById('textos').innerHTML += `<tr><td> <font color="green">${item}</font> </td></tr>`
          }else if (item.includes('<django:blue>')) {
            document.getElementById('textos').innerHTML += `<tr><td> <font color="blue">${item}</font> </td></tr>`
          }
          else{
          document.getElementById('textos').innerHTML += "<tr><td>" + item + "</td></tr>"
          }
        })

      }

      verificar()
      setInterval(verificar, 1000)
      

    </script>


    {% endblock %}