{% extends 'base.html' %}

{% block title %}
    tasks
{% endblock %}

{% block content %}
<!-- <meta http-equiv="refresh" content=".1"> -->

<div class="container">
  <h2>Tarefas de Automações</h2>
  <p>Você pode iniciar as tarefas com um simples clique.</p>
  <p>Numero de automações: {{tarefas|length}}</p>

  {% if 'admin.add_logentry' in request.user.get_all_permissions %}
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Criar Tarefa</button>
  <div id="demo" class="collapse">
    <form action="{% url "criar_tarefa" %}" method="POST" class="form-horizontal">
        
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2">Nome Tarefa:</label>
            <div class="col-sm-5">
            <input type="text" id="tarefa" name="tarefa" class="form-control">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2">Permissioes:</label>
            <div class="col-sm-5">
                <select id="permission" name="permission" class="form-control">
                    {% for perm in all_permissions %}
                    <option value="{{perm.content_type.app_label}}.{{perm.codename}}">{{perm}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Pode ser encerrado:</label>
            <div class="col-sm-2">
                <select id="can_stop" name="can_stop" class="form-control">
                    <option value="True">Sim</option>
                    <option value="False">Não</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Infor:</label>
            <div class="col-sm-2">
                <input type="text" id="infor" name="infor" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2 "></label>
            <div class="col-sm-2">
                <input type='submit' value="Criar" class='btn btn-success btn-block'>
            </div>
        </div>
        

    </form>
</div>

  
  {% endif %}


  <table class="table">
    <thead>
      <tr>
        <th>Automação</th>
        <th>Status</th>
        <th>Proxima Execução</th>
        <th>Informações</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
    
    {% for tarefa in tarefas %}

    <tr id="tr_{{tarefa.key}}">
        <td>{{tarefa.nome}}</td>
        <td id="status_{{tarefa.key}}">N/A</td>
        <td id="next_execute_{{tarefa.key}}">N/A</td>
        <td>{{ tarefa.infor }}</td>
        
        <!-- incio bloco unico -->
        
        <td id="bt_exec_{{tarefa.key}}" style="display: None"><a href="{% url "start_task" permission=tarefa.permission %}"><button class="btn btn-info">Iniciar</button></a></td>
        {% if tarefa.can_stop %}
        <td id="bt_stop_{{tarefa.key}}"style="display: None"><a href="{% url "stop_task" permission=tarefa.permission %}"><button class="btn btn-danger">Encerrar</button></td>
        {% else %}
        <td id="bt_stop_{{tarefa.key}}"style="display: None">N/A</td>
        {% endif %}
        <td id="bt_hidden_{{tarefa.key}}"style="display: None">N/A</td>
        <!-- fim bloco unico -->
        
        {% if 'admin.add_logentry' in request.user.get_all_permissions %}
        <td><a href="{% url "deletar_tarefa" pk=tarefa.pk %}"><button class="btn btn-warning">Deletar</button></td>
        {% endif %}
      </tr>

    {% endfor %}

    </tbody>
  </table>
</div>
<script>
    async function verificar(){
        
            var response = await fetch("{% url 'status' %}");
            
            if (!response.ok) {
                resultado = `${response.status} - ${response.statusText}`
            }else {
                try {
                    resultado = await response.json()
                    resultado = resultado
                } catch (error){
                    resultado = `Erro: ${error}`
                }
            }

            
            {% for tarefa in tarefas %}
            document.getElementById("status_{{tarefa.key}}").innerHTML = resultado['{{tarefa.nome_para_key}}']['status']
            document.getElementById("next_execute_{{tarefa.key}}").innerHTML = resultado['{{tarefa.nome_para_key}}']['next_execute']
            

            var task_status = document.getElementById("status_{{tarefa.key}}").innerHTML

            document.getElementById("bt_exec_{{tarefa.key}}").style = "display: None"
            document.getElementById("bt_stop_{{tarefa.key}}").style = "display: None"
            document.getElementById("bt_hidden_{{tarefa.key}}").style = "display: None"

            if (task_status == "Pronto"){
                document.getElementById("tr_{{tarefa.key}}").className = "warning"
                document.getElementById("bt_exec_{{tarefa.key}}").style = "display: flex; justify-content:center"

            }else if (task_status == "Em execução"){
                document.getElementById("tr_{{tarefa.key}}").className = "success"
                document.getElementById("bt_stop_{{tarefa.key}}").style = "display: flex; justify-content:center"
            }else {
                document.getElementById("tr_{{tarefa.key}}").className = "danger"
                document.getElementById("bt_hidden_{{tarefa.key}}").style = "display: flex; justify-content:center"
            }

        {% endfor %}
    };


verificar()
{% if atualizar_status_auto %}
setInterval(verificar, 500)
{% endif %}
</script>

{% endblock %}
